/* colors */
:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-background-colors: #ffffff;
  --second-background-colors: #f5f4fa;
  --footer-color: #2f303a;
}
/* index.html */
body {
  color: var(--primery-text-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* logo  */
.nav-logo {
  color: #000000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo {
  color: var(--accent-color);
}
/* header */

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.contact .link {
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}

/* Hero */
.hero {
  background-color: var(--footer-color);
}
.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

/* Особенности */
.specifics-title {
  display: none;
}

.section-specifics .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.section-specifics .text {
  font-size: 14px;
  line-height: 1.71;
}

/* Чем мы занимаемся */
.section-foto .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}

/* Наша команда */
.section-team {
  background-color: var(--second-background-colors);
}
.section-team .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
.section-team .card-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.section-team .text {
  font-size: 16px;
  line-height: 1.18;
}

/* footer */
.footer {
  background-color: var(--footer-color);
  color: var(#ffffff);
}
.footer .logo {
  color: #ffffff;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.footer .logo-second {
  color: var(--accent-color);
}
.address-item .address-map {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
}

.address-item .link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
}

.address-item .link:hover,
.address-item .link:focus {
  color: var(--accent-color);
}

/* portfolio.html */
.button-primary {
  color: var(--primery-background-colors);
  background-color: var(--accent-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}
.button-secondary {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--title-text-color);
  background-color: var(--second-background-colors);
  cursor: pointer;
}

.button-secondary:hover,
.button-secondary:focus {
  color: var(--primery-background-colors);
  background-color: var(--accent-color);
}

/* Projects */
.projects-title {
  display: none;
}

.projects .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects .text {
  font-size: 16px;
  line-height: 1.87;
}
